@import "tailwindcss";

@theme {
    --color-primary : #A7D129;
    --color-secondary : #293638;
    --color-ternary : #3d4f52;
    --color-highlight : #def1f7 ;
    --color-bg : #121717;
}

.plyr{
    border-radius:25px;
}