@import "tailwindcss";

@theme {
    --color-primary : #A7D129;
    --color-secondary : #616F39;
    --color-highlight : #3E432E ;
}
.plyr{
    border-radius:25px;
}

body {
    background-color: black;
    overflow: hidden;
}

.plyr__control {
    color: #87e80a;  /* Your desired color */
}